<!DOCTYPE.html>
<html>

<head>
  <meta charset="utf-8" />

  <title>PALEO</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" />

  <%# <script src="app.js"></script>%>
<script src="../public/app.js"></script>

  <%# <link rel="stylesheet" href="style.css" />%>
<link rel="stylesheet" href="../../public/style.css" />

</head>

<body>

  <header>
    <h1>PALEO RECIPES</h1>
  </header>

    <div id="main">
        <h2>What Is The Paleo Diet?</h2> Assortment of paleo foodThe Paleo diet is the healthiest way you can eat because it is the ONLY nutritional approach that works with your genetics to help you stay lean, strong and energetic! Research in biology, biochemistry, Ophthalmology, Dermatology
        and many other disciplines indicate it is our modern diet, full of refined foods, trans fats and sugar, that is at the root of degenerative diseases such as obesity, cancer, diabetes, heart disease, Parkinson’s, Alzheimer’s, depression and infertility.
        – Robb Wolf
  </div>

  <aside>
    <nav>
      <ul id="cat">
<!--           <li href="recipes.ejs">Appetizers</li>
          <li href="recipes.ejs">Breakfast</li>
          <li href="recipes.ejs">Lunch</li>
          <li href="recipes.ejs">Dinner</li>
          <li href="recipes.ejs">Dessert</li>
          <li href="recipes.ejs">ocktails</li> -->

          <li><a href="recipes/index.ejs">Appetizers</a></li>
          <li><a href="recipes/index.ejs">Breakfast</a></li>
          <li><a href="recipes/index.ejs">Lunch</a></li>
          <li><a href="recipes/index.ejs">Dinner</a></li>
          <li><a href="recipes/index.ejs">Dessert</a></li>
          <li><a href="recipes/index.ejs">Cocktails</a></li>
      </ul>
    </nav>
  </aside>

    <button id="myBtn">Add New Recipe</button>

        <div id="myModal" class="modal">

        <div class="modal-content">

            <span class="close">&times;</span>
      <form method="POST" action="/" data-parsley-validate>

            <div class="margin-top-20">
              <input name="recipes[recipe_name]" type="text" class="form-control" placeholder="Recipe Title" />
            </div>

            <div class="margin-top-20">
              <input name="recipes[category]" type="text" class="form-control" placeholder="Category" />
            </div>

            <div class="margin-top-20">
              <input name="recipes[main_ingredient]" type="email" class="form-control" placeholder="Main ingredient" />
            </div>

            <div class="margin-top-20">
              <input name="recipes[keyword]" type="password" class="form-control" placeholder="Keyword" />
            </div>

            <div class="margin-top-20">
              <input name="recipes[dish_img]" type="password" class="form-control" placeholder="Image" />
            </div>

      <!--       <div class="margin-top-20">
              <input name="recipes[recipe_name]" type="text" class="form-control" placeholder="Username" />
            </div>

            <div class="margin-top-20">
              <textarea name="recipes[recipe_name]" class="form-control" placeholder="About Me"></textarea>
            </div> -->

            <div class="margin-top-20">
              <button type="submit" class="btn btn-primary">Submit Recipe</button>
            </div>
    </form>
          </div>
        </div>
      </div>


</body>
<html>
